# Django Settings
SECRET_KEY= n+hxj&z3b^q+j*!2nywrm=(r#mi)v!v62qdknjzyjl#nvvx(h(
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL Database
DB_NAME=travel_assistant_db
DB_USER=postgres
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=5432

# Google Cloud Translation API
# Path to your service account JSON key file
GOOGLE_APPLICATION_CREDENTIALS=path/to/your/service-account-key.json
